<tr>
	<th scope="row">{{index}}</th>
	{% if author is not same as (null) %}
		<td>{{author}}</td>
	{% endif %}
	<td>{{title}}</td>
	<td>{{publishedOn}}</td>
	<td>
		<div style="display:flex; gap: 6px">
			<a href="view_article.php?id={{id}}">
				<button class="btn btn-primary">View</button>
			</a>
			<form action="includes/delete_article.inc.php" method="POST">
				<input type="hidden" name="articleId" value="{{id}}"/>
				<button name="delete-article" type="submit" class="btn btn-danger">Delete</button>
			</form>
		</td>
	</td>
</tr></div></tr>
