<div class="p-5">
	<div style="max-width: 900px; margin-inline:auto" class="mb-5">
		<img class="img-fluid mh-100" src="{{imageSrc}}" alt="Article-cover"/>
	</div>
	<div class="mb-1">
		<h3 class="h4 font-weight-bold text-theme">{{title}}</h3>
	</div>
	<div class="blockquote-footer mt-2">Written by
		<cite title="Author">{{author}}</cite>
	</div>
	<div class="mb-4">
		{{content}}
	</div>
	<div class="mb-1">
		<h3 class="h4 font-weight-bold text-theme">Write a comment</h3>
	</div>
	<form action="includes/articles/submit_comment.inc.php" method="POST">
		<div class="form-group mb-5">
			<textarea type="text" class="form-control" name="content" rows="10"></textarea>
			<input type="hidden" name="articleId" value="{{id}}"/>
		</div>
		<button type="submit" name="comment-article-submit" class="btn btn-theme">Submit comment</button>
		<button class="btn btn-secondary" onclick="location.href='index.php'">Go back</button>
	</form>

	<!-- Comments -->
	{% for comment in comments %}
		{% include 'comment.html.twig' with {'name': comment.name, 'content': comment.content} %}
	{% endfor %}

</div>
